h1, h2, h3, p{
    text-align: center;
    color: lightgrey;
    font-family: sans-serif; 
}

figcaption{
    text-align: center;
    color: rgb(38, 56, 49);
    font-family: sans-serif; 
}

html{
	background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-20-1_33761d6d.jpeg);
}

.rectangle {
    width: 80%;
    background: linear-gradient(rgb(24, 13, 17), rgb(51, 39, 43)80%, rgb(24, 13, 17));
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
}

a{
    color: grey;
}

a:visited{
	color: rgb(255, 255, 255);
}

a:hover {
	color: rgb(223, 189, 0);
}

a:active{
	color: rgb(0, 136, 255);
}

hr{
    background-color: rgb(197, 164, 171);
    border-color: rgb(197, 164, 171);
    height: 3px;
	width: 550px;
}

img{
    display: block;
    margin-left: auto;
	margin-right: auto;
    box-shadow: -10px 10px rgb(197, 164, 171);
    width: 500px;
    height: 320px;
}