h1, h2, p, figcaption{
    text-align: center;
    color: lightgrey;
    font-family: sans-serif; 
}

h1{
    font-family: arial;
}

figcaption{
	font-family: 'Times New Roman';
}

/*for star wars backgrounds: https://www.starwars.com/news/star-wars-backgrounds*/
html{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg);
}

a{
    color: grey;
}

a:visited{
	color: rgb(255, 255, 255);
}

a:active{
	color: rgb(0, 136, 255);
}

a:hover {
	color: rgb(223, 189, 0);
}


hr{
    height: 3px;
	width: 550px;
    background-color: rgb(223, 189, 0);
    border-color: rgb(223, 189, 0);
}

.rectangle {
    width: 80%;
    background: linear-gradient(rgb(7, 7, 14), rgb(32, 32, 53)80%, rgb(7, 7, 14));
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 140px;
	height: 80px;
}