h1{
    text-align: center;
    color: lightgrey;
    font-family: 'Arial Narrow Bold';
}

/*for star wars backgrounds: https://www.starwars.com/news/star-wars-backgrounds*/
html{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/star-wars-backgrounds-14_856985d9.jpeg);
}