h1,
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    color: ghostwhite;
}

h3,
h5,
h4,
h6 {
    font-size: 20px;
    color: yellow;
}
ul {
    font-size: 30px;
    color: yellow;

}



p{
    font-size: 20px;
    color:ghostwhite;
}

#dylan {
    width: 200px;
}

#briahna {
    width: 200px;
}

body {
    background: url(https://cdn.wallpapersafari.com/81/95/Z7D2q6.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:link {
    color:blue;
    background-color: transparent;
    text-decoration: none;
    outline-color: black;
}

a:visited {
    color: lightseagreen;
    background-color: transparent;
    text-decoration: none;
    outline-color: black;
}


/* #wrapper1 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
} */