h1,
h2 {
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px;
    color: ghostwhite;
}

h3,
ul,
h5,
h4,
h6 {
    font-size: 35px;
    color: yellow;
}

p{
    font-size: 25px;
    color:ghostwhite;
}

#dylan {
    width: 250px;
}

#briahna {
    width: 250px;
}

body {
    background: url(https://media.tenor.com/C6qR8z_eVGEAAAAC/star-wars-galaxy.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a:link {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    outline-color: black;
}

a:visited {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
    outline-color: black;
}


/* #wrapper1 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
} */