h1,h2{
    text-align: center;
}
body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkquJtqC54xh3u20vK6t8CwRYQucXx-LmHRA&usqp=CAU);
    font-family: sans-serif;
    padding: 20px;
  }
  #wrapper1{
    width:20%;
    margin-left: auto;
    margin-right: auto;
}